* {
  box-sizing: border-box;
  flex-shrink: 0;
}
body {
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  display: flex;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
  flex-direction: column;
}
h1 {
  margin: 15px;
}
